@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.logo {
  border: 1px solid rgb(227, 227, 244);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  color: rgb(227, 227, 244);
}
.logo-span1 {
  font-size: 20px;
  font-family: monospace;
  font-weight: normal;
  font-style: italic;
}

.logo-span2 {
  font-size: 18px;
  font-weight: bold;
  font-family: monospace;
}
.logo-span3 {
  display: inline;
  font-weight: bold;
}
